{
	"token" : "bot token",
	"brewerydbApiKey": "go here and click sign up http://www.brewerydb.com/developers",
	"dictionaryApiKey": "go here and sign up http://www.dictionaryapi.com/products/api-collegiate-dictionary.htm"
}
