{
	"debug": false,
	"mongoDb": "",
	"token": "",
	"owner": [""],
	"breweryDbApiKey": "",
	"dictionaryApiKey": "",
	"dblApiKey": "",
	"honeybadgerApiKey": "",
	"botListUpdateInterval": 1800000,
	"statusUpdateInterval": 30000
}